venv
image_face
.env - single
.env - multiple
app_multiple.bac
app_multiple.py
app_single.bac
app_single.py
sample_video
app_screen.py
.env_single
multi_new.py
screenn.py
Jenkinsfile copy

/library_ryan